body { background: #77aeb2; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 42px; display: flex; }
.block-logger-0 { color: #17f715; font-size: 17px; margin-bottom: 5px; }
.block-payment-1 { color: #3d84df; font-size: 21px; margin-bottom: 5px; }
.block-product-2 { color: #c47a31; font-size: 20px; margin-bottom: 5px; }
.block-shipping-3 { color: #5a4139; font-size: 19px; margin-bottom: 5px; }
.block-token-4 { color: #93c671; font-size: 20px; margin-bottom: 5px; }
.block-helper-5 { color: #492626; font-size: 16px; margin-bottom: 5px; }
.block-auth-6 { color: #cd7876; font-size: 19px; margin-bottom: 5px; }
.block-sms-7 { color: #5d79b0; font-size: 17px; margin-bottom: 5px; }
.block-email-8 { color: #a97c7d; font-size: 15px; margin-bottom: 5px; }
.block-invoice-9 { color: #83505a; font-size: 13px; margin-bottom: 5px; }